<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h4>KATYANNA</h4>
        <div class="contact-list">
          <p>Hi, I'm a junior web developer looking for the right company to contribute to and grow with.</p>
          <p>Contact me: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </div>
      </div>

      <div class="footer-col  footer-col-2">
        <h4>FIND ME</h4>
        <ul class="contact-list">
          <li><a target="_blank" href="https://www.linkedin.com/in/katyannamoura">LinkedIn</a></li>
          <li><a target="_blank" href="https://github.com/katyanna">Github</a></li>
          <li><a target="_blank" href="https://speakerdeck.com/katyannamoura">SpeakerDeck</a></li>
          <li><a target="_blank" href="https://twitter.com/amelie_kn">Twitter</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <h4>♥</h4>
        <ul class="contact-list">
          <li><a target="_blank" href="http://brasil.pyladies.com">PyLadies Natal</li>
          <li><a target="_blank" href="http://brasil.pyladies.com">PyLadies Brazil</li>
          <li><a target="_blank" href="http://brasil.pyladies.com">Django Girls Natal</li>
          <li><a target="_blank" href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="http://smallactsmanifesto.org/static/images/smallacts-badge-80x15-blue.png" style="border: none;" alt="Small Acts Manifesto" /></a></li>
          </ul>
        </div>
      </div>

    </div>

    <section class="credits">
    <p>made with ♥ by Katyanna Moura | © 2017</p>
    <p>about art by <a target="_blank" href="https://www.behance.net/virnavarela">Virna Varela</a></p>
    </section>
  </footer>
