<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <h3>KATYANNA</h3>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="{{ site.url }}">Home</a></li>
          <li><a href="http://brasil.pyladies.com">About</a></li>
          <li><a href="http://brasil.pyladies.com">Projects</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <h3>FIND ME</h3>
        <ul class="contact-list">
          <li><a href="https://github.com/katyanna">Github</a></li>
          <li><a href="https://twitter.com/amelie_kn">Twitter</a></li>
          <li><a href="https://speakerdeck.com/katyannamoura">SpeakerDeck</a></li>
          <li><a href="https://www.linkedin.com/in/katyannamoura">LinkedIn</a></li>
          <li><a href="https://www.facebook.com/katyanna.moura">Facebook</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <h3>♥</h3>
        <ul class="contact-list">
          <li><a href="http://brasil.pyladies.com">PyLadies Brazil</li>
            <li><a href="http://smallactsmanifesto.org" title="Small Acts Manifesto"><img src="http://smallactsmanifesto.org/static/images/smallacts-badge-80x15-blue.png" style="border: none;" alt="Small Acts Manifesto" /></a></li>
          </ul>
        </div>
      </div>

    </div>

  </footer>
