/**
 * Homepage
 */
.homepage {
  background-image: url(/public/images/bg.png);
  margin: 0 auto;
  text-align: center;
  h1 {
    font-family: dearJoe;
    font-size: 45px;
    text-align: center; }
  img {
    max-width: 350px;
    margin: 25px; }
}

#home-nav ul{
  margin: 0;
  list-style: none;
  li{
    display: inline;
    padding: 0 15px;
    a {
      text-decoration: none;
      color: $brand-color;
      font-size: 16px;
      &:hover {
        color: $brand-color-dark;
        font-weight: 600; }
    }
  }
}



/**
 * Site header
 */
.site-header {
    background-image: url(/public/images/bg.png);
    border-bottom: 1px solid $grey-color-light;
    min-height: 80px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: $title-font-family;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: 5px;
    float: left;

    &,
    &:visited { color: $brand-color; }

    &:hover {
      text-decoration: none; 
      color: $brand-color-dark;
    }
    
}

.site-nav {
    float: right;
    line-height: 56px;
    margin-top: 10px;
  
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    background: $grey-color-light;
    padding: $spacing-unit 0;
    bottom: 0;
    width: 100%;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    margin-left: -$spacing-unit / 2;
    a {
      font-size: 15px;
      color: $grey-color;
      &:hover {
        text-decoration: none;
        color: $brand-color; }
    }
    @extend %clearfix;
  h3 { color: $brand-color-dark; }
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * About
 */

.about-container {
  margin: 0 auto;
  h1 { font-size: 25px; }
  p { font-size: 18px; }
}

.about-picture {
  margin: 30px auto;
  text-align: center;
  img { width: 250px; }
}

.findme {
  max-width: 60%;
  margin: 40px auto 10px;
  text-align: center;
  img {
    padding: 5px 10px;
    width: 45px; }
  a { text-decoration: none; }
}