h2 {
  font-size: 26px;
  margin-top: $spacing-unit;
  @include media-query($on-laptop) {
    font-size: 24px;
  }
}

h3 {
  font-size: 22px;
  @include media-query($on-laptop) {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  @include media-query($on-laptop) {
    font-size: 18px;
  }
}


/**
 * Homepage
 */
.homepage {
  margin: 0 auto;
  text-align: center;
  h1 {
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center; }
  img {
    max-width: 315px;
    margin: 0 auto 90px; }
  ul {
    list-style: none;
    text-align: left;
  }
  a {
    text-align: right;
  }

}

.separator {
  margin: 60px auto;
  img {
    max-width: 70%;
    margin: 0;
  }
}

.more {
  p {
    margin-top: $spacing-unit;
    text-align: center;
  }
}

/**
 * Site header
 */
.site-header {
  padding: $spacing-unit 0;
  min-height: 100px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 32px;
  line-height: 70px;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-top: 5px;
  float: left;

  &,
  &:visited { color: $brand-color; }

  &:hover {
    text-decoration: none;
    color: $brand-color-dark;
  }

}

.site-nav {
  float: right;
  line-height: 56px;
  margin-top: 10px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  bottom: 0;
  width: 100%;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  p {
    font-size: 12px;
  }
}

.footer-col-wrapper {
  margin-left: -$spacing-unit / 2;
  a {
    font-size: 15px;
    color: $grey-color;
    &:hover {
      text-decoration: none;
    color: $brand-color; }
  }
  @extend %clearfix;
  h4 {
    text-size: 22px;
    color: $brand-color-dark; }
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.credits {
  font-size: 12px;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    &:last-child {
      border-bottom: none;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 30px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    margin-top: $spacing-unit;
  }
}

pre {
  overflow-x: hidden;
}

.sharebuttons {
  margin: 0 auto;
  text-align: center;
}


/**
 * About
 */

.about-container {
  margin: 0 auto;
  h1 { font-size: 25px; }
  p { font-size: 18px; }
}

.about-picture {
  margin: 20px auto;
  text-align: center;
  img { width: 250px; }
}

.findme {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  img {
    width: 50px;
    padding: 0 10px; }
  a { text-decoration: none; }
}

/**
 * Portifolio
 */
.image-box {
  margin: 0 auto;
  width: 100%;
}
