@font-face {
  font-family: 'dearJoe';
  src:url('../fonts/dearJoe.otf'),
  url('../fonts/dearJoe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("/assets/images/background.jpg");
  font-family: helvetica;
  color: #2a2a2a;
}

p {
  line-height: 1.7em;
  text-align: justify;
  text-indent: 40px;
  font-size: 17px;

}

#main {
  width: 1000px;
  margin: 0 auto;
}

#main h2 a {
  color: #f8537f;
  text-decoration: none;
}

#main h2 a:hover {
  color: #333;
}

#menu {
  margin: 0 auto;
  width: 600px;
  border-bottom: 2px solid #ff779a;
  text-align: center;
}

#menu ul {
  padding: 3px;
  margin: 3px;
  list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
  padding: 3px 15px;
  display: inline-block;

  /* visual do link */
  color: #333;
  text-decoration: none;
}

#menu ul li a:hover {
  color: #f8537f;
}

#center {
  font-family: dearJoe;
  font-size: 25px;
  text-align: center;
  color: #111;
}

#center img {
  margin: 50px 0px 0px 0px;
  width: 170px;
  height: 170px;
}


/* About */

.colleft {
  float: left;
  width: 450px;
  margin: 30px 0 0 0;
}

.colright {
  float:right;
  width: 520px;
  height: 300px;
  margin: 30px 0 0 0;
}

#findme img {
  float: right;
  margin: 18px 10px 0px 10px;
  width: 50px;
  height: 50px;
} 


/* Post */

#post h1 {
  margin: 70px 0px 30px;
}
