body {
  background: url("/assets/images/background.jpg");
  font-family: helvetica;
}

p {
  line-height: 1.7em;
  text-align: justify;
  text-indent: 40px;
}


#main {
  width: 1000px;
  margin: 0 auto;
}

#main h2 a {
  color: #f8537f;
  text-decoration: none;
}

#main h2 a:hover {
  color: #333;
}

#menu {
  margin: 0 auto;
  width: 600px;
  border-bottom: 2px solid #f8537f;
  text-align: center;
}

#menu ul {
  padding: 3px;
  margin: 3px;
  list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
  padding: 3px 15px;
  display: inline-block;

  /* visual do link */
  color: #333;
  text-decoration: none;
}

#menu ul li a:hover {
  color: #f8537f;
}

#center {
  font-size: 15px;
  text-align: center;
}

#center img {
  margin: 50px;
  width: 170px;
  height: 170px;
}
